<footer class="border-top footer text-muted mt-auto">
    <div class="container">
        &copy; 2020 - TheLibrary on NodeJS with bootstrap
    </div>
</footer>

<script src="/js/jquery.min.js"></script>
<!-- <script src="/js/popper.min.js"></script> -->
<script src="/js/bootstrap.min.js"></script>